BOOK_URL=https://restful-booker.herokuapp.com
GRAPHQL_URL=https://us-east-1-shared-usea1-02.cdn.hygraph.com/content/clpvcopq3aavs01usft1idkgj/master
BASE_URL=https://demoqa.com/automation-practice-form
